<section class="ending-soon" aria-labelledby="ending-soon-title">
  <h3 id="ending-soon-title">Ending soon surveys</h3>
  <ul class="ending-soon__grid">
    @for (survey of surveys(); track survey.id) {
      <li>
        <a class="ending-soon__card" [routerLink]="['/survey', survey.id]">
          <span class="ending-soon__category">{{ survey.category }}</span>
          <h4>{{ survey.name }}</h4>
          <span class="ending-soon__badge">{{ getDaysLabel(survey) }}</span>
        </a>
      </li>
    }
  </ul>
</section>
