.question-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  color: var(--color-dark);

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 2px;
  }

  &__hint {
    font-size: 12px;
    color: #888;
    margin-bottom: 6px;
  }
}
